# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
*.sqlite3

# Cache / Logs
cache/
data/logs/
data/build_logs/
data/backups/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
